name: CI
on: [push, pull_request, release]

jobs:
  prepare:
    name: Prepare Database
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: gradle
      - name: Run gradlew
        run: ./gradlew run --warning-mode all
        working-directory: ./preparing
  buildapp:
    name: Build App
#    needs: [prepare]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: gradle
#      - name: Grant execute permission for gradlew
#        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build --warning-mode all
